include /../templates/mixins/rainbow
include /../templates/mixins/ads

.cover.row.collapse

	.medium-6.large-4.columns.gradient: .cover-left

		h2.color-2 ¡Bienvenido!
		p
			strong.color-2 REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos
			| veterinarios, estudiantes de veterinaria, académicos y personas interesadas
			| en la medicina tanto de equinos, pequeñas especies y fauna silvestre en general.

		p.hide-for-small.hide-for-medium
			|	En sus páginas se analizan temas actuales de la medicina veterinaria,
			|	casos clínicos y procedimientos de vanguardia, con aportaciones de los
			|	especialistas más reconocidos de nuestro país y del extranjero.


		p.hide-for-small.hide-for-portrait
			strong.color-2 REMEVET&nbsp;
			|	es el mejor medio en español para estar actualizado y aprender sobre los
			|	avances médicos, procedimientos actuales y casos clínicos.

		a.button.color-0.color-bg-2.expand(href=ﬁ.bundles['about']) Conócenos

	.medium-6.large-8.columns: .cover-right: .cover-contain

		- var tmplink  = "/static/lib/pdf.js/web/viewer.html?file=/static/revista/fauna-silvestre/fauna-silvestre-008.pdf#page=1&zoom=page-fit&twoPageView=2"
		- var tmpimage = "background-image:url('/static/images/covers/gato.jpg')"

		article.color-0.color-bg-2

			.content(style=tmpimage)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplink) Bases del Bienestar Animal en Fauna Silvestre
					h4
						a(href=tmplink) MVZ. M en C. Adriana Cossío Bayúgar

				footer: ul
					li: a(href=tmplink) Fauna Silvestre
					li: a(href=tmplink): span Leer Artículo

+rainbow()

#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) Equinos
	
	#magazines-issues.row
		- console.log(JSON.stringify(data.horses))

		for pdf in data.horses
			.small-6.medium-4.large-2.columns
				figure.magazine
					a(href=ﬁ.settings.app.pdf.url+pdf.file+ﬁ.settings.app.pdf.opts)
						img(src=pdf.image)
					figcaption
						h4: a(href="#")=pdf.name
						aside: a(href="#")=pdf.issue

						h4: a(href="#")=pdf.name
						aside: a(href="#")=pdf.issue






+rainbow(true)



	
		
	
	
	
	

