include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

.cover.row.collapse

	.show-for-large-up.large-4.columns.gradient: .cover-left

		p
			strong.color-2 REMEVET&nbsp;
			| es una publicación independiente creada para la educación y actualización contnua
			| de los médicos veterinarios zootecnistas. Para tu comodidad, facilitamos la búsqueda
			| de los temas y artículos de tu interés dividiendo la revista en tres ramas


	.large-8.columns: .cover-right: .cover-contain

		- var tmplink  = "/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=64&zoom=page-fit&twoPageView=2"
		- var tmpimage = "background-image:url('/static/images/covers/gato.jpg')"

		article.color-0.color-bg-2

			main.content(style=tmpimage)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplink, target="_blank") Actualización en métodos de medición de la presión arterial sistémica en pequeños
					h4
						a(href=tmplink) MV Iván Álvarez MV César Mayorga

				footer: ul
					li: a(href=tmplink) Pequeñas Especies
					li: a(href=tmplink): span Leer Artículo

+rainbow()
+advertisers(advertisers)
+rainbow(true)

.row.collapse.color-bg-2.color-lightest
	section.small-12.columns.color-bg-2.color-lightest
		header.color-bg-2
			a.uno(href=ﬁ.bundles['magazines']) ¿Qué sección deseas visitar?

		main.row: .small-12.large-8.columns.large-centered
			for magazine in magazines
				- url = ﬁ.settings.app.pdf.url + magazine.file + ﬁ.settings.app.pdf.opts
				.small-4.columns.element
					a(href=url)
						img(src=magazine.image)
					footer.color-bg-0
						h4: a.color-primary(href=url)= magazine.name
						aside.color-bg-2.color-darker: a(href="#")= magazine.issue
+rainbow()
