include /../templates/mixins/rainbow

.cover.row.collapse

	.medium-6.large-4.columns.gradient: .cover-left

		h2.color-2 Revistas
		p
			strong.color-2 REMEVET&nbsp;
			| es una publicación independiente creada para la educación y actualización contnua
			| de los médicos veterinarios zootecnistas. Para tu comodidad, facilitamos la búsqueda
			| de los temas y artículos de tu interés dividiendo la revista en tres ramas


	.medium-6.large-8.columns: .cover-right: .cover-contain

		- var tmplink  = "https://s3-us-west-1.amazonaws.com/uat.magazine/fauna-silvestre/fauna-silvestre-008/fauna-silvestre-008.html#p=8"
		- var tmpimage = "background-image:url('/static/images/covers/gato.jpg')"

		article.color-0.color-bg-2

			.content
				img(src=cover.image width="100%")

				nav.bottom.right.color-0
					header
						h3
							a(href=tmplink) Bases del Bienestar Animal en Fauna Silvestre
						h4
							a(href=tmplink) MVZ. M en C. Adriana Cossío Bayúgar

					footer: ul
						li: a(href=tmplink) Fauna Silvestre
						li: a(href=tmplink): span Leer Artículo

+rainbow()

#magazines.row.collapse
	#magazines-header
		a.uno(href=ﬁ.bundles['magazines']) #{cover.Name2}

	#magazines-issues.row
		for magazine in magazines
			.small-6.medium-4.large-2.columns
				figure.magazine
					a(href=ﬁ.settings.app.pdf.url + magazine.slug + magazine.file + '.html' target="_blank")
						img(src=magazine.image)
					figcaption
						h4: a(href="#")=magazine.name
						aside: a(href="#")=magazine.issue

+rainbow(true)
