include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

.cover.row.collapse.cover-fixed.color-bg-2.color-bg-lightest

	.large-12.columns: .cover-right: .cover-contain

		- var tmplink  = "http://uat.magazine.s3.amazonaws.com/peq/pequenas-especies-020/pequenas-especies-20.html#p=64"
		- var tmpimage = "background-image:url('http://s3.amazonaws.com/uat-website/images/covers/gato.jpg')"

		article.color-0.color-bg-2

			main.content(style=tmpimage)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplink, target="_blank") Actualización en métodos de medición de la presión arterial sistémica en pequeños
					h4
						a(href=tmplink) MV Iván Álvarez MV César Mayorga

				footer: ul
					li: a(href=tmplink) Artículo destacado
					li: a(href=tmplink): span Leer Artículo

+rainbow()
+advertisers(advertisers)
+rainbow(true)

mixin magazine(magazine)
	- magazine.href  = magazine.href
	- magazine.title = magazine.name + ': ' + magazine.issue

	a(href=magazine.href, target='_blank')
		img(src=ﬁ.settings.app.static + magazine.image, alt=magazine.title, title=magazine.title, width='100%')
	footer.color-bg-0.hide-for-small-only
		h4: a.color-primary(href=magazine.href, target='_blank') &nbsp;
		aside.color-bg-2.color-darker: a(href=magazine.href, target='_blank')= magazine.issue

mixin magazine-n(name, n, magazine)
	div(class='columns element ' + name + '-' + n)
		+magazine(magazine)

.row.collapse

	section.small-12.columns.color-bg-2.color-bg-lightest

		header.color-bg-2
			a.uno(href=ﬁ.bundles['magazines']) Revistas

		main.row: for magazine in magazines
			.small-6.medium-4.large-2.columns.element(style='margin-bottom:1em;float:left;')
				+magazine(magazine)

+rainbow(true)
