
mixin ads(ads, showall)
	- var c = '', l, m, s, x;
	.ads.row.collapse
		- x = ads.x.shift() || [];
		- l = ads.l.shift() || [];
		- m = ads.m.shift() || [];
		- s = ads.s.shift() || [];

		for ad in x
			.columns.xlarge-1.hide-for-small-only.hide-for-medium-only.hide-for-large-only
				a(href=ad.href): img(src=ad.src, width='100%')
		for ad in l
			.columns.large-2.hide-for-xlarge-up.hide-for-medium-only.hide-for-small-only
				a(href=ad.href): img(src=ad.src, width='100%')
		for ad in m
			.columns.medium-3.hide-for-small-only.hide-for-large-up
				a(href=ad.href): img(src=ad.src, width='100%')
		for ad in s
			.columns.small-4.hide-for-medium-up
				a(href=ad.href): img(src=ad.src, width='100%')

