include /../templates/mixins/rainbow
include /../templates/mixins/advertisers


+rainbow()
+advertisers(advertisers)
+rainbow(true)

#magazines.row.collapse
	.small-12.large-4.columns(style="height:500px;overflow:scroll;")
		#magazines-header
			a.uno(href=ﬁ.bundles['clinics']) Clínicas
		each clinic in clinics
			.clinic(style="height:200px;margin-top:0.8em", data-lat="#{clinic.lat}", data-long="#{clinic.long}", data-serv="#{clinic.description}")
				.small-6.large-4.columns
					img(src= ﬁ.settings.app.static +clinic.logo, width="120px")
				.small-6.large-8.columns
					a(href=clinic.website, target="_blank")= clinic.name
					if clinic.phone.length > 1
						ul telefono
							each phone in clinic.phone
								li= phone



		//- #magazines-issues.row

		//- #magazines.row.collapse
		//- 	#magazines-header
		//- 		a.uno(href=ﬁ.bundles['clinics']) Equinos
		//- 	each clinic in clinics.horses
		//- 		.clinic(style="height:200px;margin-top:0.8em", data-lat="#{clinic.lat}", data-long="#{clinic.long}", data-serv="#{clinic.description}")
		//- 			.small-6.large-4.columns
		//- 				img(src=clinic.logo, width="120px")
		//- 			.small-6.large-8.columns
		//- 				a(href=clinic.website, target="_blank")= clinic.name
		//- 				if clinic.phone.length > 1
		//- 					ul telefono
		//- 						each phone in clinic.phone
		//- 							li= phone
		//- 	#magazines-issues.row

	.small-12.large-8.columns#map(style="height:500px;")


script!="window.feature=" + JSON.stringify(clinics[0]) + ';'

