include /../templates/mixins/rainbow
include /../templates/mixins/advertisers
-console.log("En JADE la magaziens es: " + JSON.stringify(magazines))
-console.log("En JADE la arts es: " + JSON.stringify(articles))

.cover.row.collapse

	.show-for-large-up.large-4.columns.gradient: .cover-left

		h2.color-primary ¡Bienvenido!
		p
			strong.color-1 REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos
			| veterinarios, estudiantes de veterinaria, académicos y personas interesadas
			| en la medicina tanto de equinos, pequeñas especies y fauna silvestre en
			| general. En sus páginas se analizan temas actuales de la medicina veterinaria,
			| casos clínicos y procedimientos de vanguardia, con aportaciones de los
			| especialistas más reconocidos de nuestro país y del extranjero.
		p
			strong.color-1 REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los
			| avances médicos, procedimientos actuales y casos clínicos.

		h3: a.color-1(href=ﬁ.bundles['about']) ¡ Conócenos !


	.large-8.columns: .cover-right: .cover-contain

		article
			video.content(controls, autoplay, loop)
				source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.mp4", type="video/mp4")
				source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.ogg", type="video/ogg")

+rainbow()

.cover.row.collapse

	.large-8.columns: .cover-right: .cover-contain

		- var tmplink  = "http://uat.magazine.s3.amazonaws.com/peq/pequenas-especies-020/pequenas-especies-20.html#p=64"
		- var tmpimage = "background-image:url('/static/images/covers/gato.jpg')"

		article.color-0.color-bg-2

			main.content(style=tmpimage)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplink, target="_blank") Actualización en métodos de medición de la presión arterial sistémica en pequeños
					h4
						a(href=tmplink) MV Iván Álvarez MV César Mayorga

				footer: ul
					li: a(href=tmplink) Pequeñas Especies
					li: a(href=tmplink): span Leer Artículo

		

	.large-4.columns.gradient.color-bg-2	

		.large-12.columns.gradient.contenedor.cover-contain
				article.color-0.color-bg-2
						
			.large-4.columns.gradient.foto
				article.color-0.color-bg-2
					img.imgl(src="http://placehold.it/350x380")

			.large-8.columns.gradient.texto1
				article.color-0.color-bg-2
					h4.lorem1 Dr. Oscar Robert Echandi
					h5.lorem Medico Veterinario
					p.lorem2 El Dr. Robert nació el 8 de setiembre de 1960 en San José, Costa Rica y pasó gran parte de su infancia en las fincas lecheras de su  familia, en las faldas del Volcán Irazú,  exactamente en el pueblo de San Juan de Chicua. 

		.large-12.columns.gradient.texto1
			article.color-0.color-bg-2.lorem2
				br
				p  Fue ahí donde empezó su gran amor por los animales, heredando de su  abuelo paterno la pasión por las lecherías y los caballos, y de su abuelo materno el amor por los perros, lo que combinado con la profesión de medicina de su padre, lo motivó a estudiar Medicina Veterinaria, donde podía combinar su amor por la medicina y su pasión por los animales.
				p  En 1978 ingresó a la Escuela de Medicina Veterinaria de la Universidad Nacional de Costa Rica donde obtuvo su licenciatura en Medicina Veterinaria y posteriormente continuó con sus estudios  en la Universidad de Fresno en California, Estados Unidos y en los Laboratorios Golden Genes en Davis, California, especializándose en transferencia de embriones en bovinos.
				br
				br
				br
				br

				




		- var tmplink  = "http://uat.magazine.s3.amazonaws.com/peq/pequenas-especies-020/pequenas-especies-20.html#p=64"
		- var tmpimage = "background-image:url('/static/images/magazines/pequenas/thumbnails/pe_20.png')"

		article.color-0.color-bg-2

			main.content.large-centered(style=tmpimage)



+rainbow(true)
+advertisers(advertisers)
+rainbow()


