include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

.row.collapse.cover.cover-fixed.color-bg-secondary.color-bg-lightest

	.show-for-large-up.large-4.columns.gradient: .cover-left

		h2.color-primary ¡Bienvenido!
		p
			strong.color-1 REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos
			| veterinarios, estudiantes de veterinaria, académicos y personas interesadas
			| en la medicina tanto de equinos, pequeñas especies y fauna silvestre en
			| general. En sus páginas se analizan temas actuales de la medicina veterinaria,
			| casos clínicos y procedimientos de vanguardia, con aportaciones de los
			| especialistas más reconocidos de nuestro país y del extranjero.
		p
			strong.color-1 REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los
			| avances médicos, procedimientos actuales y casos clínicos.

	.small-12.large-8.columns: .cover-right: .cover-contain(data-timeout="20")

		- var tmplinkPeq  = "http://uat.magazine.s3.amazonaws.com/peq/pequenas-especies-020/pequenas-especies-20.html#p=64"

		- var tmpimagePeq = "background-image:url('http://uat-website.s3.amazonaws.com/images/covers/PE_No20_Art5.jpg')"

		article.color-0.color-bg-2.slide

			main.content(style=tmpimagePeq)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplinkPeq, onclick='javascript:void window.open (\'#{tmplinkPeq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') Manejo de persistencia del cuarto arco aórtico y la arteria subclavia izquierda aberrante en un perro
					h4
						a(href=tmplinkPeq, onclick='javascript:void window.open (\'#{tmplinkPeq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') MV Marcela Raygadas, MV Blanca Cobian, MV Yurixhi López, MV Norma Avilés, MV Norma Alvarado, MV Ignacio Barajas

				footer: ul
					li: a(href=tmplinkPeq, onclick='javascript:void window.open (\'#{tmplinkPeq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') Pequeñas Especies
					li: a(href=tmplinkPeq, onclick='javascript:void window.open (\'#{tmplinkPeq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;'): span Leer Artículo


		article: video.content(controls, autoplay=false, loop, poster="#{ﬁ.settings.app.static}/videos/COMFORTIS_ESP_VET_FINAL_H264.jpg")
			source(src="#{ﬁ.settings.app.static}/videos/COMFORTIS_ESP_VET_FINAL_H264.mp4", type="video/mp4")
			source(src="#{ﬁ.settings.app.static}/videos/COMFORTIS_ESP_VET_FINAL_H264.ogg", type="video/ogg")

		- var tmplinkFS  = "http://uat.magazine.s3.amazonaws.com/fauna-silvestre/fauna-silvestre-008/fauna-silvestre-008.html#p=8"
		- var tmpimageFS = "background-image:url('http://uat-website.s3.amazonaws.com/images/covers/FS_No8_Art1a.jpg')"

		article.color-0.color-bg-2.slide

			main.content(style=tmpimageFS)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplinkFS, onclick='javascript:void window.open (\'#{tmplinkFS}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') Wildlife Disease Association
					h4
						a(href=tmplinkFS, onclick='javascript:void window.open (\'#{tmplinkFS}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') DVM MSc Carlos Sánchez

				footer: ul
					li: a(href=tmplinkFS, onclick='javascript:void window.open (\'#{tmplinkFS}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') Fauna Silvestre
					li: a(href=tmplinkFS, onclick='javascript:void window.open (\'#{tmplinkFS}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;'): span Leer Artículo

		- var tmplinkEq  = "http://uat.magazine.s3.amazonaws.com/equinos/equinos-024/equinos-24.html#p=6"
		- var tmpimageEq = "background-image:url('http://uat-website.s3.amazonaws.com/images/covers/EQ_No24_Art2.jpg')"
		article.color-0.color-bg-2.slide

			main.content(style=tmpimageEq)

			nav.bottom.right.color-0
				header
					h3
						a(href=tmplinkEq, onclick='javascript:void window.open (\'#{tmplinkEq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') PHYTIUM INSIDIOSUM: Una enfermedad presente en la zona Centro-Norte del Estado de Veracruz
					h4
						a(href=tmplinkEq, onclick='javascript:void window.open (\'#{tmplinkEq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') MVZ Antonio Fernando Martinez 

				footer: ul
					li: a(href=tmplinkEq, onclick='javascript:void window.open (\'#{tmplinkEq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;') Equinos
					li: a(href=tmplinkEq, onclick='javascript:void window.open (\'#{tmplinkEq}\',\'1414424357319\',\'width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0\');return false;'): span Leer Artículo

+rainbow()
+advertisers(advertisers)
+rainbow(true)



