include /../templates/mixins/rainbow
include /../templates/mixins/advertisers
-console.log("En JADE la magaziens es: " + JSON.stringify(magazines))
-console.log("En JADE la arts es: " + JSON.stringify(articles))

.cover.row.collapse

	.show-for-large-up.large-4.columns.gradient: .cover-left

		h2.color-primary ¡Bienvenido!
		p
			strong.color-1 REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos
			| veterinarios, estudiantes de veterinaria, académicos y personas interesadas
			| en la medicina tanto de equinos, pequeñas especies y fauna silvestre en
			| general. En sus páginas se analizan temas actuales de la medicina veterinaria,
			| casos clínicos y procedimientos de vanguardia, con aportaciones de los
			| especialistas más reconocidos de nuestro país y del extranjero.
		p
			strong.color-1 REMEVET&nbsp;
			| es el mejor medio en español para estar actualizado y aprender sobre los
			| avances médicos, procedimientos actuales y casos clínicos.

		h3: a.color-1(href=ﬁ.bundles['about']) ¡ Conócenos !


	.large-8.columns: .cover-right: .cover-contain

		article
			video.content(controls, autoplay, loop)
				source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.mp4", type="video/mp4")
				source(src="/static/videos/COMFORTIS_ESP_VET_FINAL_H264.ogg", type="video/ogg")

+rainbow()

.row.collapse.color-bg-2.color-lightest

	section.small-12.large-8.columns.color-bg-2.color-lightest
		header.color-bg-2
			a.uno(href=ﬁ.bundles['magazines']) Revistas
			a.dos.color-bg-2.color-darker.hide-for-small-only(href=ﬁ.bundles['magazines']) Ver mas

		main.row: for magazine in magazines
			- magazine.href  = ﬁ.bundles['magazines/section'].replace(':section', magazine.slug)
			- magazine.title = magazine.name + ': ' + magazine.issue
			.small-4.columns.element
				a(href=magazine.href)
					img(src=magazine.image, alt=magazine.title, title=magazine.title)
				footer.color-bg-0.hide-for-small-only
					h4: a.color-primary(href=magazine.href)= magazine.name
					aside.color-bg-2.color-darker: a(href=magazine.href)= magazine.issue


	section.hide-for-medium-down.large-4.columns.color-bg-1.color-lightest
		header.color-bg-1
			a.uno(href=ﬁ.bundles['magazines']) Artículos

		main.row: .columns.small-12
			for article in articles
				article(style='padding:0.5em; margin:0.5em').color-bg-0
					strong: a(href=article.href, target="_blank").color-primary= article.name
					div(style='text-align:right; margin-top:0.5em'): strong: a(href=article.href).color-secondary=article.author



+rainbow(true)
+advertisers(advertisers)
+rainbow()

.row.collapse

	section.small-12.columns.color-bg-3.color-lightest
		header.color-bg-3
			a.uno(href=ﬁ.bundles['magazines']) Eventos
			a.dos.color-bg-3.color-darker.hide-for-small-only(href=ﬁ.bundles['magazines']) Ver calendario

		main.row
			- var klass, base = 'element columns small-6 medium-4 large-2'
			for event,i in events
				- event.date.day   = { ini: event.date.ini.getDate(), end: event.date.end.getDate() }
				- event.date.day   = (event.date.day.ini == event.date.day.end)? event.date.day.ini : event.date.day.ini + ' - ' + event.date.day.end
				- klass = base
				- if(i >= 2) klass += ' hide-for-small-only';
				- if(i >= 3) klass += ' hide-for-medium-only';
				div(class=klass)
					header.color-bg-0
						h4: a.color-3.color-darker(href=ﬁ.bundles['events'])
							span.hide-for-small-only=ﬁ.datemonth(event.date.ini.getMonth())
							span.show-for-small-only=ﬁ.datemonth(event.date.ini.getMonth(), true)

						aside.color-bg-3.color-darker: a(href="#")=event.date.day
					a(href=ﬁ.bundles['events'])
						img(src=event.logo, width='100%')

+rainbow(true)
