include /../templates/mixins/rainbow

.cover.row.collapse

	.medium-6.large-4.columns.gradient: .cover-left

		h2.color-1 ¡Bienvenido!
		p
			strong.color-1 REMEVET&nbsp;
			| es una publicación electrónica en español que está dirigida a los médicos
			| veterinarios, estudiantes de veterinaria, académicos y personas interesadas
			| en la medicina tanto de equinos, pequeñas especies y fauna silvestre en general.

		p.hide-for-small.hide-for-medium
			|	En sus páginas se analizan temas actuales de la medicina veterinaria,
			|	casos clínicos y procedimientos de vanguardia, con aportaciones de los
			|	especialistas más reconocidos de nuestro país y del extranjero.


		p.hide-for-small.hide-for-portrait
			strong.color-1 REMEVET&nbsp;
			|	es el mejor medio en español para estar actualizado y aprender sobre los
			|	avances médicos, procedimientos actuales y casos clínicos.

		a.button.color-0.color-bg-1.expand(href=ﬁ.bundles['about']) Conócenos


	.medium-6.large-8.columns: .cover-right: .cover-contain

		- var tmplink  = "/static/lib/pdf.js/web/viewer.html?file=/static/revista/fauna-silvestre/fauna-silvestre-008.pdf#page=1&zoom=page-fit&twoPageView=2"
		- var tmpimage = "background-image:url('/static/images/covers/home-01.jpg')"

		article.color-0.color-bg-2

			.content(style=tmpimage)

			nav.bottom.right
				header
					h3
						a(href=tmplink) Bases del Bienestar Animal en Fauna Silvestre
					h4
						a(href=tmplink) MVZ. M en C. Adriana Cossío Bayúgar

				footer: ul
					li: a(href=tmplink) Fauna Silvestre
					li: a(href=tmplink): span Leer Artículo

		article.color-0.color-bg-4

			.content(style=tmpimage)

			nav.top.left
				header
					h3
						a(href=tmplink) jfshdflakjfhalskjdhfljasdhf
					h4
						a(href=tmplink) hhfagsdjfhgajshdfgjahsd

				footer: ul
					li: a(href=tmplink) Biblioteca
					li: a(href=tmplink): span Visítala
+rainbow()

.ads.row.collapse
	- l = ads.l.shift() || [];
	- m = ads.m.shift() || [];
	- s = ads.s.shift() || [];
	- x = ads.x.shift() || [];
	for ad,i in x
		- c += i<3? ' small-4'  : ' hide-for-small';
		- c += i<4? ' medium-3' : ' hide-for-medium';
		- c += i<6? ' large-2'  : ' hide-for-large';
		- c += ' xlarge-1 columns'
		div(class=c)
			a(href=ad.href): img(src=ad.src, width='100%')



+rainbow()
