-console.info(data)

include /../templates/mixins/rainbow
include /../templates/mixins/advertisers

.cover.row.collapse

	.small-12.columns: .cover-right: .cover-contain

		- var tmplink = "http://uat.magazine.s3.amazonaws.com/peq/pequenas-especies-020/pequenas-especies-20.html#p=64"
		- var tmpimage = "background-image:url('/static/images/covers/gato.jpg')"

		article.color-0.color-bg-3

			main.content(style=tmpimage)

			nav.bottom.left.color-0
				header
					h3
						a(href=tmplink) Actualización en métodos de medición de la presión arterial sistemica en pequeños
					h4
						a(href=tmplink) MV. Iván Álvarez - MV. Cesar Mayorga

				footer: ul
					li: a(href=tmplink) Pequeñas Especies
					li: a(href=tmplink): span Leer Artículo

+rainbow(true)
//- +advertisers(advertisers)
+rainbow()

.row.collapse
	#magazines.small-12.large-4.columns(style="height:500px;overflow:scroll;")

		#magazines-header
			a.uno(href="#") Octubre
		//- each event in events
		//- 	.event(style="height:200px;margin-top:0.8em", data-p="#{event.desc}", data-img="#{event.logo}")
		//- 		.small-6.large-4.columns
		//- 			a(href="#", data-reveal-id="#{event.slug}")
		//- 				img(src=event.logo, style="max-width:100%;max-height:100%")
		//- 			.reveal-modal(id="#{event.slug}", data-reveal)
		//- 				img(src=event.logo)
		//- 		.small-6.large-8.columns
		//- 			p= event.desc



	.small-12.large-8.columns#event
		iframe(src="https://www.google.com/calendar/embed?src=remevet.com_1g5vjvsvpdph9eor916lccfnf4%40group.calendar.google.com&ctz=America/Mexico_City",style="border: 0",width="100%",height="600",frameborder="0",scrolling="no")

