#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Eventos
		p

			| Encuentra aquí toda la información sobre: cursos, diplomados y congresos con relación al área veterinaria; todo calendarizado para darte más visibilidad y que puedas programar tus asistencias. No dejes de consultar esta sección para estar al día de los próximos eventos más relevantes.
			br
			br
			br
	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/covers/geriatria.jpg')")

		article

			.uno
				h3: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=1&zoom=page-fit&twoPageView=2") Medicina Preventiva en Pacientes Geriátricos Felinos
				h4: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=1&zoom=page-fit&twoPageView=2") MVZ. Silvia Sánchez Nicolat
			.dos
				a.uno(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=1&zoom=page-fit&twoPageView=2") Pequeñas Especies
				a.dos(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=1&zoom=page-fit&twoPageView=2") Leer Artículo

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6


#magazines.row.collapse
	.small-12.large-5.columns(style="height:500px;overflow:scroll;")

		#magazines-header
			a.uno(href="#") Septiembre
		each event in data.Septiembre
			.event(style="height:200px;margin-top:0.8em", data-p="#{event.desc}", data-img="#{event.logo}")
				.small-6.large-4.columns
					a(href="#", data-reveal-id="#{event.slug}")
						img(src=event.logo, style="max-width:100%;max-height:100%")
					.reveal-modal(id="#{event.slug}", data-reveal)
						img(src=event.logo)
				.small-6.large-8.columns
					p= event.name

		#magazines-header
			a.uno(href="#") Octubre
		each event in data.Octubre
			.event(style="height:200px;margin-top:0.8em", data-p="#{event.desc}", data-img="#{event.logo}")
				.small-6.large-4.columns
					a(href="#", data-reveal-id="#{event.slug}")
						img(src=event.logo, style="max-width:100%;max-height:100%")
					.reveal-modal(id="#{event.slug}", data-reveal)
						img(src=event.logo)
				.small-6.large-8.columns
					p= event.desc

		#magazines-header
			a.uno(href="#") Noviembre
		each event in data.Noviembre
			.event(style="height:200px;margin-top:0.8em", data-p="#{event.desc}", data-img="#{event.logo}")
				.small-6.large-4.columns
					a(href="#", data-reveal-id="#{event.slug}")
						img(src=event.logo, style="max-width:100%;max-height:100%")
					.reveal-modal(id="#{event.slug}", data-reveal)
						img(src=event.logo)
				.small-6.large-8.columns
					p= event.desc


	.small-12.large-7.columns#event
		iframe(src="https://www.google.com/calendar/embed?src=remevet.com_1g5vjvsvpdph9eor916lccfnf4%40group.calendar.google.com&ctz=America/Mexico_City",style="border: 0",width="100%",height="600",frameborder="0",scrolling="no")



#clients.row.collapse
	#clients-slider
		.slide: a(href="http://www.laveccs.org/"): img(src="/static/images/logos/33.png")
		.slide: a(href="http://www.merial.com.mx"): img(src="/static/images/logos/01.png")
		.slide: a(href="http://www.ceamvet.com.mx"): img(src="/static/images/logos/02.jpg")
		.slide: a(href="http://www.bio-zoo.com.mx"): img(src="/static/images/logos/03.jpg")
		.slide: a(href="http://www.vetoquinol.mx"): img(src="/static/images/logos/04.jpg")
		.slide: a(href="http://www.archnovo.com.mx/"): img(src="/static/images/logos/05.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/06.jpg")
		.slide: a(href="http://santgar.com/"): img(src="/static/images/logos/07.png")
		.slide: a(href="http://www.elanco.com.mx"): img(src="/static/images/logos/08.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/09.jpg")
		.slide: a(href="http://www.petlocator.com.mx"): img(src="/static/images/logos/10.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/11.jpg")
		.slide: a(href="http://www.maico.cc/"): img(src="/static/images/logos/12.jpg")
		.slide: a(href="https://www.idexx.com/"): img(src="/static/images/logos/13.jpg")
		.slide: a(href="http://www.royalcanin.com.mx/"): img(src="/static/images/logos/14.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/15.jpg")
		.slide: a(href="http://www.acmevez.mx"): img(src="/static/images/logos/16.jpg")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/17.jpg")
		.slide: a(href="http://www.frontline.com.mx"): img(src="/static/images/logos/18.png")
		.slide: a(href="http://www.fcm.mx"): img(src="/static/images/logos/20.jpg")
		.slide: a(href="http://www.vettv.org"): img(src="/static/images/logos/21.jpg")
		.slide: a(href="http://www.petmmal.com.mx"): img(src="/static/images/logos/23.jpg")
		.slide: a(href="http://www.cirugiaveterinaria.com/"): img(src="/static/images/logos/24.png")
		.slide: a(href="https://www.zoetis.mx"): img(src="/static/images/logos/24.jpg")
		.slide: a(href="http://www.ammvee.org.mx/"): img(src="/static/images/logos/25.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/26.jpg")
		.slide: a(href="http://www.norvet.com.mx"): img(src="/static/images/logos/27.jpg")
		.slide: a(href="http://www.pisaagropecuaria.com.mx/"): img(src="/static/images/logos/29.jpg")
		.slide: a(href="#"): img(src="/static/images/logos/30.jpg")
		.slide: a(href="http://www.ropasanluis.com.mx/"): img(src="/static/images/logos/31.jpg")
		.slide: a(href="https://desego.com"): img(src="/static/images/logos/32.jpg")