#cover.row.collapse

	#cover-welcome.large-4.medium-5.columns
		h2.color1 Directorio de clínicas
		p

			| REMEVET pone a tu disposición un directorio de clínicas y hospitales veteriarios en la República Mexicana.
			br
			br
			br

	#cover-article.large-8.medium-7.columns(style="background-image:url('/static/images/covers/gato.jpg')")

		article
			.uno
				h3: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=64&zoom=page-fit&twoPageView=2", target="_blank") Actualización en métodos de medición de la presión arterial sistemica en pequeños
				h4: a(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=64&zoom=page-fit&twoPageView=2", target="_blank") MV. Iván Álvarez - MV. Cesar Mayorga
			.dos
				a.uno(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=64&zoom=page-fit&twoPageView=2", target="_blank") Pequeñas Especies
				a.dos(href="/static/lib/pdf.js/web/viewer.html?file=/static/revista/pequenas-especies/pequenas-especies-020.pdf#page=64&zoom=page-fit&twoPageView=2", target="_blank") Leer Artículo

	#cover-rainbow
		.color.color1
		.color.color2
		.color.color3
		.color.color4
		.color.color5
		.color.color6


#magazines.row.collapse
	.small-12.large-5.columns(style="height:500px;overflow:scroll;")
		#magazines-header
			a.uno(href=ﬁ.bundles['clinics']) Pequeñas Especies y Fauna Silvestre
		each clinic in clinics.small
			.clinic(style="height:250px;margin-top:0.8em", data-lat="#{clinic.lat}", data-long="#{clinic.long}")
				.small-6.large-4.columns
					img(src=clinic.logo, width="120px")
				.small-6.large-8.columns
					a(href=clinic.website, target="_blank")= clinic.name
					if clinic.phone.length > 1
						ul telefono
							each phone in clinic.phone
								li= phone


		
		#magazines-issues.row

		#magazines.row.collapse
			#magazines-header
				a.uno(href=ﬁ.bundles['clinics']) Equinos
			each clinic in clinics.horses
				.clinic(style="height:250px; margin-top:0.8em", data-lat="#{clinic.lat}", data-long="#{clinic.long}")
					.small-6.large-4.columns
						img(src=clinic.logo, width="120px")
					.small-6.large-8.columns
						a(href=clinic.website)= clinic.name
						if clinic.phone.length > 1
							ul telefono
								each phone in clinic.phone
									li= phone			
			#magazines-issues.row

	.small-12.large-7.columns#map(style="height:500px;")


include /logos


