doctype html
<!--[if lt IE 9]><html class="ie8" lang="es"><![endif]-->
<!--[if !IE]><!-->
html.no-js(lang="es",class=is_desktop?'is_desktop':'')
		<!--<![endif]-->

	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(property="og:site_name", content=NAME)
		block ﬁ.meta

		title= (TITLE? TITLE + ' | ' : '') + (NAME || '')

		link(rel='shortcut icon', href='/static/favicon.ico')
		link(rel='stylesheet',    href='/static/foundation/css/foundation.css')
		link(rel='stylesheet',    href='/static/foundation/ico/foundation-icons.css')
		block ﬁ.link

		script(src='/static/foundation/js/vendor/modernizr.js')

	body
		#data
			user(data-id=USER.id, data-type=USER.type)

		header
			include views/header

		#content
			include views/notice
			block ﬁ.content

		footer
			include views/footer

		script(src='/static/foundation/js/vendor/jquery.js')
		script(src='/static/foundation/js/vendor/fastclick.js')
		script(src='/static/foundation/js/foundation.min.js')
		block ﬁ.script
